In [5]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
emp_info={'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
          ,'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
emp_info['Kathy']

{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [120]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500'] 
# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500'] 
out={}
res={}
res1={}
res2={}
for i in range(len(emp_key)):
    res.update({emp_key[i]:emp1_val[i]})
res={lst1[0]:res}
out.update(res)
for i in range(len(emp_key)):    
    res1.update({emp_key[i]:emp2_val[i]})
res1={lst1[1]:res1}  
out.update(res1)
for i in range(len(emp_key)):    
    res2.update({emp_key[i]:emp3_val[i]})
out.update({lst[2]:res2})   
print(out)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'salary': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [32]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [121]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
out={}
for i in employees:
    out.update({i:defaults})
print(out)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

In [109]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
str1='google.com'
out={ }
for i in str1:
    count=0
    for j in str1:
        if i==j:
            count=count+1
        out.update({i:count} )
print(out)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [108]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }
str1="ACGT"
str2="CTATCGGCACCCTTTCAGCA"
out={ }
for i in str1:
    count=0
    for j in str2:
        if i==j:
            count=count+1
        out.update({i:count} )
print(out)    
str1="ACTG"       
str2="AGT" 
out={ }
for i in str1:
    count=0
    for j in str2:
        if i==j:
            count=count+1
        out.update({i:count} )
print(out)

{'A': 4, 'C': 8, 'G': 3, 'T': 5}
{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [114]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.
answer is option 5) none of the above

In [113]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
#2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.
#answer=option 2 d.values()
d = {"a":1, "b":2}
d.values()

dict_values([1, 2])

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above
d = { ["First", "Last"]: (1,3) }# as keys can not be mutalble hence not a dict type

In [61]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
dict1={'a':1, 'b':2, 'c':2}
val=2
lst=[]
for i in dict1:
    if val==dict1[i]:
        lst.append(i)
print(lst)

['b', 'c']

In [62]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}
dict1=({'a':3, 'b':3, 'c':3})
out={}

for i in dict1.values():
    lst=[]
    for j in dict1:
        if dict1[j]==i:
            lst.append(j)
            out.update({dict1[j]:lst})
    
print(out)

{3: ['a', 'b', 'c']}

In [136]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}
lst=[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
num=0
out={}
for i in lst:
    if i==0:
        num=num+1
        continue
    else:
        out.update({num:i})
    num=num+1    
print(out)

{0: 1, 3: 2, 7: 3, 12: 4}

In [137]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []
lst=[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
num=0
out={}
for i in lst:
    if i==0:
        num=num+1
        continue
    else:
        out.update({num:i})
    num=num+1    
print(out)

{0: 1, 3: 2, 7: 3, 12: 4}

In [71]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [2]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
#Math
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75,
  }
min1=sampleDict['Physics']
for i in sampleDict:
    if min1 > sampleDict[i]:
        min1=sampleDict[i]
        print(i)

Math

In [53]:
# Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }
sampleDict["location"]=sampleDict["city"]
sampleDict.pop("city")
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [41]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
for i in sampleDict:
    if 200==sampleDict[i]:
        print(True)
    else:
        False

# Expected Output: True

True

In [48]:
# Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}
sampleDict.pop('name')
sampleDict.pop('salary')
print(sampleDict)

{'age': 25, 'city': 'New york'}

In [6]:
file_handler=open('boolean sol.ipynb','rt')

In [7]:
print(file_handler)

<_io.TextIOWrapper name='boolean sol.ipynb' mode='rt' encoding='cp1252'>

In [10]:
file_handler.close()

In [11]:
file_handler=open('boolean sol.ipynb','rt')

In [13]:
file_handler.close()

In [14]:
file_handler=open('boolean sol.ipynb','rt')

In [15]:
cont=file_handler.read()

In [23]:
file_handler.close()

In [31]:
fh = open('file','w')
text =''
while 'DONE'!= text :
    text = input("Enter the the text(when done enter DONE):")
    if text!='DONE':
        fh.write(text+'\n')
fh.close()

Enter the the text(when done enter DONE):hahahha
Enter the the text(when done enter DONE):my name is DEEPAK
Enter the the text(when done enter DONE):i am doing file handling
Enter the the text(when done enter DONE):now i am done
Enter the the text(when done enter DONE):
Enter the the text(when done enter DONE):DONE