In [4]:
# Write a Python program to create and display a onedimensional array-like object containing an array of data using
# Pandas module.
import pandas as pd
import numpy as np
data=[10,25,38,43,56]
s1=pd.Series(data)
print(s1)

0    10
1    25
2    38
3    43
4    56
dtype: int64

In [10]:
# Write a Python program to convert a Panda module Series to
# Python list and its type.
data=[10,25,38,43,56]
s1=pd.Series(data)
print(s1)
lst=list(s1.values)
print(lst,type(lst))

0    10
1    25
2    38
3    43
4    56
dtype: int64
[10, 25, 38, 43, 56] <class 'list'>

In [19]:
# Write a Python program to add, subtract, multiple and divide
# two Pandas Series.
data1=[12,15,13,17,25]
data2=[18,19,23,7,15]
s1=pd.Series(data1)
s2=pd.Series(data2)
print(s1+s2,'\n',s1-s2,'\n', s1*s2,'\n', s1/s2)

0    30
1    34
2    36
3    24
4    40
dtype: int64
 0    -6
1    -4
2   -10
3    10
4    10
dtype: int64
 0    216
1    285
2    299
3    119
4    375
dtype: int64
 0    0.666667
1    0.789474
2    0.565217
3    2.428571
4    1.666667
dtype: float64

In [20]:
#  Write a Python program to compare the elements of the two
# Pandas Series.
s1 = pd.Series([2.5, 4, 6, 8, 10, 1.75, 40])
s2 = pd.Series([1.5, 3, 5, 7, 10, 1.75, 20])
print(s1==s2)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [ ]:
# Write a Python program to display the following data column
# wise.

In [ ]:
# Write a Python program to create and display a Data Frame
# from a specified dictionary data which has the index labels.

In [ ]:
# Write a Python program to select the specified columns and
# rows from a given Data Frame.

In [ ]:
#  Write a Python program to select the rows the score is between
# 15 and 20 (inclusive).

In [ ]:
#  Write a Python program to select the rows where number of
# attempts in the examination is less than 2 and score greater than
# 15.

In [ ]:
# Write a Python program to append a new row 'k' to Data Frame
# with given values for each column. Now delete the new row and
# return the original data frame.

In [2]:
#  Write a Python program to sort the data frame first by 'name' in
# descending order, then by 'score' in ascending order.

In [ ]:
# Write a Python program to insert a new column in existing Data
# Frame.

In [ ]:
#  Write a Python program to change the name 'James' to 'Suresh'
# in name column of the data frame.