In [7]:
distance_km= float(input())
distance_miles= distance_km * 0.621371
print('this distance in miles:',distance_miles)

10
this distance in miles: 6.21371

In [10]:
number=float(input("enter your number:"))
if number<0:
    print("the number is negative :")
elif number==0:
    print("number is 0")
else:
    print("number is positive")

enter your number:-2
the number is negative :

In [11]:
#learning do while loop
count=5
while count<=10:
    print(count)
    count=count+1

5
6
7
8
9
10

In [20]:
# program for tables in math
number=int(input("Enter the number whose table who want:"))

count= 1
while count<=10:
    product = count* number
    print(number, "x", count ," =", product)
    count=count+1

Enter the number whose table who want:14
14 x 1  = 14
14 x 2  = 28
14 x 3  = 42
14 x 4  = 56
14 x 5  = 70
14 x 6  = 84
14 x 7  = 98
14 x 8  = 112
14 x 9  = 126
14 x 10  = 140

In [25]:
# table using for loop 

number=int(input("Enter the number whose table who want:"))

for count in range(1,11):
    product = count* number
    print(number, "x", count ," =", product)

Enter the number whose table who want:14
14 x 1  = 14
14 x 2  = 28
14 x 3  = 42
14 x 4  = 56
14 x 5  = 70
14 x 6  = 84
14 x 7  = 98
14 x 8  = 112
14 x 9  = 126
14 x 10  = 140

In [30]:
lang=["python","c++","java","sql"]
for x in lang:
    print(x)

python
c++
java
sql

In [1]:
# sum of number 1 to 100
#using while loop
total=0
count=0
while count<=100:
    total=total+count
    count=count+1
print(total)

5050

In [2]:
# sum of number 1 to 100
# using for loop
total=0
for count in range(1,101):
    total=total+count
print(total)

5050

In [32]:
#break function
lang=["python","c++","java","sql"]
for x in lang:
    if x=="java":
        break
    print(x)

python
c++

In [18]:
#continue function
lang=["python","c++","java","sql"]
for x in lang:
    if x=="java":
        continue
    
    print(x)

python
c++
sql

In [54]:
# for list 
language=["ruby","python","kotlin","java"]
print(language)
# for print a specific character
print(language[1])
#for range of character
print(language[1:4])
#for changing a char
language[1]="c++"
print(language)

['ruby', 'python', 'kotlin', 'java']
python
['python', 'kotlin', 'java']
['ruby', 'c++', 'kotlin', 'java']

In [122]:
# paired in list for single pair 
vehicle =['car','truck','bus']
price =[1000,500,700]
for i in range(0,3):
    result= (vehicle[i],price[i])
    
    print(result)

('car', 1000)
('truck', 500)
('bus', 700)

In [87]:
#making pair in list
list1=['amit','surender','bhadana','london']
list2=[22,44,12,28]
result = [(i, j) for i in list1 for j in list2 ]
print(result)

[('amit', 22), ('amit', 44), ('amit', 12), ('amit', 28), ('surender', 22), ('surender', 44), ('surender', 12), ('surender', 28), ('bhadana', 22), ('bhadana', 44), ('bhadana', 12), ('bhadana', 28), ('london', 22), ('london', 44), ('london', 12), ('london', 28)]

In [83]:
# for making pair in python
list_1 = [1, 2, 3, 4, 5]
list_2 = [5, 8, 7, 1, 3, 6]


result = [(i, j) for i in list_1 for j in list_2 ]
print(result)

[(1, 5), (1, 8), (1, 7), (1, 1), (1, 3), (1, 6), (2, 5), (2, 8), (2, 7), (2, 1), (2, 3), (2, 6), (3, 5), (3, 8), (3, 7), (3, 1), (3, 3), (3, 6), (4, 5), (4, 8), (4, 7), (4, 1), (4, 3), (4, 6), (5, 5), (5, 8), (5, 7), (5, 1), (5, 3), (5, 6)]

In [15]:
# unpairing data in a list 
list_3 = [(1,5),(3,2),(4,8),(12,12)]
for x in list_3:
    list_4 =x[0]
    
    print(list_4,end=" ")

1 3 4 12

In [9]:
list1=['amit','surender','bhadana','sumit']
list2=[22,44,12,28]
result ={"age":list2 ,"name":list1 }
print(result)

{'age': [22, 44, 12, 28], 'name': ['amit', 'surender', 'bhadana', 'sumit']}

In [36]:
list_new1=[10,15,20]
list_new2=[25,12,27]
for i in list_new1:
    for j in list_new2:
        if i==j:
            result={i:j}
            print(result)

In [1]:
#input= peter piper picked a pack of picklled peppers
# output =retep repip dekcip a kcap fo dellkcip sreppep 
str_1='peter piper picked a pack of picklled peppers'
for i in str_1.split():
    print(i[::-1], end= " ")

retep repip dekcip a kcap fo dellkcip sreppep

In [71]:
#input= peter piper picked a pack of picklled peppers
# output =peppers picklled of pack a picked piper peter
str_1='peter piper picked a pack of picklled peppers'
str_1.split()
print(' '.join(str_1.split()[::-1]))

peppers picklled of pack a picked piper peter

a = 10 ** 3
print(id(a))
b = 10 ** 3
print(id(b))ccxzzzzzzzzzzzzzzzzz,,,,,,mmm,

In [76]:
list1=[10,20,30,40]
i=0
for x in list1:
    print(i,"=",x)
    i=i+1

0 = 10
1 = 20
2 = 30
3 = 40

In [3]:
num=int(input())
for i in range(num):

5
0
1
2
3
4
5